.button {
    background-color: #2596be;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
}
.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #e0ebff;
    color: black;
}